</main>
<div class = "container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footerBottom">
    <div class="col-md-4 d-flex align-items-center"> <a href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> <img src="/Images/Logo.png" alt="Logo" width="40" height="40" class="me-2"></img> </a> <span class="mb-3 mb-md-0 text-body-secondary">© 2025 BlogBook , Inc</span> </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://linkedin.com/in/shourya-shinde-1a5425330"
          aria-label="LinkedIn"><i class="bi bi-linkedin" style="font-size: 24px;"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/ShouryaShinde" aria-label="GitHub"><i class="bi bi-github" style="font-size: 24px;"></i></a></li>
    </ul>
  </footer>
</div>